<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Aliquid sequi, animi unde earum tempore officia consectetur
        reiciendis cumque deserunt ab eos voluptatem explicabo
        repudiandae dignissimos quas velit rem fuga? Aut?
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Eaque, quod!
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Animi reiciendis nihil architecto, similique necessitatibus
        vitae expedita. Nobis laborum alias rem reiciendis
        voluptatibus odio praesentium nulla sequi, dolorum et ab ullam
        vitae in laboriosam porro autem. Eveniet assumenda repudiandae
        fugit qui, mollitia vitae provident blanditiis optio ab! Omnis
        similique fuga deleniti.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
